
# Needed to build some crate libraries. Taken from https://github.com/bazelbuild/rules_rust/issues/70
build --action_env=CARGO_PKG_AUTHORS=mock \
      --action_env=CARGO_PKG_DESCRIPTION=mock \
      --action_env=CARGO_PKG_HOMEPAGE=mock \
      --action_env=CARGO_PKG_LICENSE=mock \
      --action_env=CARGO_PKG_REPOSITORY=mock \
      --action_env=RUSTDOC=mock

# Always show errors from testing
test --verbose_failures --test_output=errors

###################
# CI Specific flags
###################
common:stamp --workspace_status_command=bazel/workspace_status.sh

build:ci --verbose_failures --show_progress_rate_limit=10
build:stamp --stamp

test:ci --verbose_failures --test_output=all --keep_going

####################
# Optimization flags
####################

build:opt -c opt
build:opt --@rules_rust//:extra_rustc_flags=--codegen=lto=fat,--codegen=codegen-units=1


###################
# Typescript
###################
# honor the setting of `skipLibCheck` in the tsconfig.json file
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
# Define a transpiler for all ts_project rules. TSC is slower, but no extra deps are required (https://github.com/aspect-build/rules_ts/blob/main/docs/transpiler.md)
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

##############
# user.bazelrc
##############

try-import %workspace%/user.bazelrc
