
# Always show errors from testing
test --verbose_failures --test_output=errors

build --enable_platform_specific_config

# Logging: Release builds aim for 'INFO'
common --//bazel/logging:logging=trace
common:release --//bazel/logging:logging=info

###################
# CI Specific flags
###################
common:stamp --workspace_status_command=bazel/workspace_status.sh

build:ci --verbose_failures --show_progress_rate_limit=10
build:stamp --stamp

test:ci --verbose_failures --test_output=all --keep_going


####################
# Rust
####################

# Needed to build some crate libraries. Taken from https://github.com/bazelbuild/rules_rust/issues/70
build --action_env=CARGO_PKG_AUTHORS=mock \
      --action_env=CARGO_PKG_DESCRIPTION=mock \
      --action_env=CARGO_PKG_HOMEPAGE=mock \
      --action_env=CARGO_PKG_LICENSE=mock \
      --action_env=CARGO_PKG_REPOSITORY=mock \
      --action_env=RUSTDOC=mock

# I need debug-assertions because the Tauri macros have different signatures with and without them.
build --@rules_rust//rust/settings:extra_exec_rustc_flag=-Cdebug-assertions=on

build:release --compilation_mode=opt
build:release --@rules_rust//rust/settings:lto=fat
build:release --@rules_rust//rust/settings:codegen_units=1
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Copt-level=3
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cdebug-assertions=off
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Coverflow-checks=off
build:release --@rules_rust//rust/settings:extra_exec_rustc_flag=-Cdebug-assertions=off

# ####
# C++
# ####

build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20
build --cxxopt=-Werror
build --copt=-fdiagnostics-color=always
build --per_file_copt=external/.*@-w,-Wno-all
build --host_per_file_copt=external/.*@-w,-Wno-all

build:macos --linkopt=-framework --linkopt=CoreFoundation --host_linkopt=-framework --host_linkopt=CoreFoundation
build:macos --host_macos_minimum_os=15.0 --macos_minimum_os=15.0

###################
# Typescript
###################
# honor the setting of `skipLibCheck` in the tsconfig.json file
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
# Define a transpiler for all ts_project rules. TSC is slower, but no extra deps are required (https://github.com/aspect-build/rules_ts/blob/main/docs/transpiler.md)
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

####################
# Formatting aspects
####################

build:clippy --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build:clippy --output_groups=+clippy_checks
build:clippy --@rules_rust//:clippy.toml=//:clippy.toml

build:rustfmt --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build:rustfmt --output_groups=+rustfmt_checks
build:rustfmt --@rules_rust//:rustfmt.toml=//:rustfmt.toml

##############
# rules_apple.
##############
# Optimizing remote cache and build execution performance: https://github.com/bazelbuild/rules_apple/blob/master/doc/common_info.md#optimizing-remote-cache-and-build-execution-performance
common --modify_execution_info=^(BitcodeSymbolsCopy|BundleApp|BundleTreeApp|DsymDwarf|DsymLipo|GenerateAppleSymbolsFile|ObjcBinarySymbolStrip|CppArchive|CppLink|ObjcLink|ProcessAndSign|SignBinary|SwiftArchive|SwiftStdlibCopy)$=+no-remote,^(BundleResources|ImportedDynamicFrameworkProcessor)$=+no-remote-exec
# Invalidate cache when xcode version changes: https://github.com/bazelbuild/rules_apple/blob/master/doc/common_info.md#xcode-version-selection-and-invalidation
try-import xcode.bazelrc

##############
# user.bazelrc
##############

try-import %workspace%/user.bazelrc
