**/src-tauri/gen/
*.sqlite3
.DS_Store
.bazelrc.user
.env
.idea/
.svelte-kit/
__pycache__/
actions-runner/
bazel-bin
bazel-out
bazel-testlogs
bazel-totum-revolutum
build/
examples/files/
node_modules/
releases/
secret.json
secrets/
target/
test/
user.bazelrc
